/* Styles for Base Template 
   ------------------------ */

/************
 *  Global  *
 ************/

html {
  font-size: 16px;
  /* Sets root font size */
  font-family: "Open Sans", sans-serif;
  /* Dark gray */
  color: #666666;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/**********************
 *  Header (#navbar)  *
 **********************/

#navbar {
  /* Sets position of navbar at top left corner of browser window */
  position: fixed;
  top: 0;
  left: 0;
  /* Makes navbar span full width of screen */
  width: 100%;
  /* Increases space between content and navbar edges */
  padding: 0.75rem;
  /* Sets display property to flex, which makes container a flexbox */
  display: flex;
  /* Aligns flex items vertically in center of navbar */
  align-items: center;
  /* Includes border and padding in navbar's total width and height */
  box-sizing: border-box;
  /* Light forest green */
  background-color: #578172;
  /* Adds solid border (light forest green) at bottom of navbar */
  border-bottom: 0.0625rem solid #578172;
  /* Brings navbar to front */
  z-index: 1;
}

.logo img {
  /* Makes width of logo respond to changes in font size */
  width: 6rem;
  height: 6rem;
}

.name {
  /* Increases space between logo and web app name */
  margin-left: 0.875rem;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  /* Bold text */
  font-weight: 700;
  /* White */
  color: #ffffff;
}

.header-buttons {
  /* Automatically calculates left margin based on available space
     (i.e., pushes header buttons to right side of navbar) */
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-button-link {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Removes default text decoration (e.g., underlines for links) */
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /* Medium text */
  font-weight: 500;
}

.header-button-icon,
.header-button-label {
  /* Block-level property */
  margin-top: 0.25rem;
  font-size: 1rem;
  /* Medium text */
  font-weight: 500;
  /* White */
  color: #ffffff;
  /* Allows header button text to flow with inline elements while having 
     properties that apply to block-level elements, such as <div>, <h1>, 
     and <p> */
  display: inline-block;
}

.header-button-icon.material-icons-outlined {
  font-size: 3rem;
  /* Light green */
  color: #39d7ac;
}

/* Targets only header button icon when .header-button-link element 
       is hovered over */
.header-button-link:hover .header-button-icon {
  /* Darker light green */
  color: #2db896;
  /* Changes cursor to pointer on hover */
  cursor: pointer;
}

#navbar .create-account-button,
#navbar .sign-in-button {
  /* top, bottom: 0.5rem; left, right: 1rem */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  /* Medium text */
  font-weight: 500;
  text-align: center;
  /* White */
  color: #ffffff;
  /* Light green */
  background: #39d7ac;
  /* White border */
  border: 0.125rem solid #ffffff;
  /* Rounds corners of buttons */
  border-radius: 0.2rem;
}

#navbar .create-account-button {
  /* Light green border */
  border: 0.125rem solid #39d7ac;
}

#navbar .create-account-button:hover,
#navbar .sign-in-button:hover {
  cursor: pointer;
}

#navbar .sign-in-button {
  /* Increases space between "Sign In" and "Create Account" Buttons */
  margin-left: 0.75rem;
  /* Light forest green, 85% opacity */
  background-color: rgba(58, 107, 91, 0);
  /* White */
  border: 0.125rem solid #ffffff;
}

/********************************
 *  Footer (#footer-rectangle)  *
 ********************************/

#footer-rectangle {
  width: 100%;
  /* top, bottom: 0.75rem; left, right: 0.75rem */
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: #ffffff;
  /* White */
  border-top: 0.0625rem solid #578172;
}

.footer-content {
  /* Sets top and bottom margin to 0 and auto-calculates left and right margins
     (i.e., horizontally centers container) */
  margin: 0 auto;
  display: flex;
  /* Aligns flex items center */
  justify-content: center;
  /* Dark gray */
  color: #666666;
}

.footer-contact,
.footer-social {
  padding: 0.75rem;
}

.footer-contact ul,
.footer-social ul {
  margin: 0;
  padding: 0;
  /* Removes bullets from list */
  list-style: none;
}

.footer-contact li,
.footer-social li {
  margin-bottom: 0.5rem;
}

.footer-contact a,
.footer-social a {
  color: inherit;
  text-decoration: none;
}

.footer-contact a:hover,
.footer-social a:hover {
  /* Medium gray */
  color: #7d7f7c;
}

.footer-social ul {
  display: flex;
}

/* Uses :not() pseudo-class to exclude last child with :last-child pseudo-class 
   (i.e., increases right margin of all list items except for last list item in 
   that group. */
.footer-social li:not(:last-child) {
  margin-right: 1rem;
}

.footer-social i {
  font-size: 1.5rem;
  /* Light green */
  color: #39d7ac;
}

.footer-social .social-wrapper {
  display: flex;
  /* Stacks flex items vertically in column */
  flex-direction: column;
}

.footer-social p {
  margin-right: 0.5rem;
}

/*************
 *  Content  *
 *************/

#content {
  /* Positions content relative to normal position in document */
  position: relative;
  /* Offsets header height */
  margin-top: 6.5rem;
  padding: 1rem;
  /* Sets minimum content height to prevent footer from getting too close to
     header when there is little or no content */
  min-height: 29rem;
}

/* Flex container used for Home and Difficulty pages (resource) */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 5rem;
  width: 55rem;
  margin: 4rem auto;
  /* Dark gray */
  color: #666666;
}

/* Styles for Individual Pages 
   --------------------------- */

/******************
 *  Achievements  *
 ******************/
  .achievements-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  
  .achievements {
    width: auto;
    margin: 1.5rem 0 auto;
    padding: 1rem 2rem;
    /* Dark gray border */
    border: 0.125rem solid #666666;
    /* Adds border radius on all sides */
    border-radius: 1.3rem;
  }
  
  .achievements-content {
    max-width: 34rem;
    margin: 1rem auto;
  }
  
  .badge-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .badge-desc {
    position: absolute;
    top: calc(100% - 1.75rem);
    font-size: 0.8rem;
    width: 12rem;
    left: calc(50% - 6rem);
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #fff;
    border-radius: 3px;
    padding: 0.35rem 0.5rem;
    box-sizing: border-box;
    pointer-events: none;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }
  
  .badge-wrapper:hover .badge-desc {
    opacity: 1;
  }
  
  .badge {
    position: relative;
    margin: 1.5rem 3rem;
    width: 5rem;
    height: 7.75rem;
    border-radius: 0.78125rem;
    display: inline-block;
    top: 0;
    transition: all 0.1s ease-in-out;
    background: linear-gradient(to bottom right, #39d7ac 15%, #578172 100%);
    color: #578172;
  }
  
  .badge.locked {
    filter: grayscale(100%);
  }
  
  .badge:before,
  .badge:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .badge:before {
    transform: rotate(60deg);
  }
  
  .badge:after {
    transform: rotate(-60deg);
  }
  
  .badge:hover {
    top: -0.25rem;
  }
  
  .badge .circle {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
  
  .badge .circle i {
    font-size: 2.45rem;
    margin-top: 0.65625rem;
  }
  
  .badge .font {
    display: inline-block;
    margin-top: 1rem;
  }
  
  .badge .ribbon {
    position: absolute;
    border-radius: 0.25rem;
    padding: 0.4375rem 0.4375rem 0.375rem;
    width: 7.8125rem;
    z-index: 11;
    color: #ffffff;
    bottom: 0.8625rem;
    left: 50%;
    margin-left: -4.296875rem;
    height: 1.0625rem;
    font-size: 0.828125rem;
    font-weight: 500;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.27);
    text-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #777777 0%, #555555 100%);
    cursor: pointer;
    text-align: center;
  }
/********************
 *  Create Account  *
 ********************/

/****************
 *  Difficulty  *
 ****************/

.welcome-message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -6rem;
  font-size: 2rem;
  /* Medium text */
  font-weight: 500;
  z-index: 1;
}

#hello_user {
  margin-bottom: 0.5rem;
}

#welcome_back {
  margin-top: 0;
  margin-bottom: 0; 
}

.welcome-message-content span {
  font-size: 2rem;
  /* Light green */
  color: #39d7ac;
}

.difficulty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 6.5rem;
}

.difficulty-header {
  margin-top: 1em;
  margin-bottom: 3.75rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 52rem;
  padding: 0 1rem;
  margin-bottom: 6rem;
}

.difficulty-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 11rem;
  margin-right: 2rem;
  background-color: #578172;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.difficulty-button:hover {
  background-color: #466b5a;
}

.difficulty-button:last-child {
  margin-right: 0;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.stars .material-icons-outlined {
  font-size: 3.375rem;
  color: #39d7ac;
}

/**********
 *  Home  *
 **********/

/* Welcome section */

#content-header {
  font-size: 3rem;
  margin: 0;
}

.main-content .text-box {
  max-width: 26rem;
  margin-right: 5rem;
}

.main-content .text-box p {
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

.image-container {
  display: flex;
  /* Dark gray */
  border: 0.125rem solid #666666;
  /* top, bottom: 0.5rem; left, right: 0.5rem */
  padding: 0.5rem;
  /* Adds border radius on all sides */
  border-radius: 1.3rem;
  /* Centers image horizontally and vertically */
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  width: 19.3125rem;
  height: auto;
}

.create-sign-in-wrapper {
  display: flex;
}

.main-content .create-account-button {
  /* top, bottom: 0.5rem; left, right: 1rem */
  padding: 0.5rem 1rem;
  margin-right: auto;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  /* Medium text */
  font-weight: 500;
  text-align: center;
  /* White */
  color: #ffffff;
  /* Light forest green */
  background-color: #578172;
  border: 0.125rem solid #578172;
  /* Rounds corners of buttons */
  border-radius: 0.2rem;
}

.main-content .create-account-button:hover {
  cursor: pointer;
}

.sign-in-link {
  /* Semi-bold text */
  font-weight: 600;
  color: #444444;
}

/* Features section */

.main-content.increase-top-margin {
  margin-top: 6rem;
}

.feature-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 0 -1rem;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex: 1;
  margin: 0 1rem;
}

.feature-container h2 {
  font-size: 1.1rem;
  margin: 0;
}

.feature-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 1rem;
}

.feature-icon {
  display: flex;
  padding: 0.5rem;
  margin-right: 1rem;
  height: auto;
  background-color: #578172;
  border-radius: 0.625rem;
}

.feature-icon span {
  margin: auto;
  font-size: 2.125rem;
  /* White */
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Darker gray, 70% opacity */
  background-color: rgba(102, 102, 102, 0.7);
}

.modal-content {
  /* White */
  background-color: #ffffff;
  margin: 15% auto;
  padding: 1.25rem;
  /* Dark gray */
  border: 0.0625rem solid #666666;
  border-radius: 0.3125rem;
  width: 25.5rem;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
}

#hello_user span {
  font-size: 1.7rem;
  /* Light green */
  color: #39d7ac;
}

#welcome_back {
  margin-bottom: 1.6rem;
}

.modal button {
  /* top, bottom: 0.5rem; left, right: 1rem */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background: #39d7ac;
  border: 0.125rem solid #ffffff;
  border-radius: 0.2rem;
  margin: 0.3125rem;
  cursor: pointer;
}

/**********
 *  Main  *
 **********/

/***********
 *  Rules  *
 ***********/

.rules-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rules {
  width: 35rem;
  margin: 1.5rem 0 auto;
  padding: 1rem 2rem;
  /* Dark gray border */
  border: 0.125rem solid #666666;
  /* Adds border radius on all sides */
  border-radius: 1.3rem;
}

/**************
 *  Settings  *
 **************/

/*************
 *  Sign In  *
 *************/
.outer-div {
    background-color: yellow;
    width: 100px;
}

.left-inner-div {
    background-color: red;
    float: left;
    width: 50%;
}

.right-inner-div {
    background-color: blue;
    float: right;
    width: 50%;
}

/*************
 *  Create Account  *
 *************/