/* Styles for Base Template 
   ------------------------ */

/************
 *  Global  *
 ************/

html {
  font-size: 16px;
  /* Sets root font size */
  font-family: "Open Sans", sans-serif;
  /* Dark gray */
  color: #666666;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/**********************
 *  Header (#navbar)  *
 **********************/

#navbar {
  /* Sets position of navbar at top left corner of browser window */
  position: fixed;
  top: 0;
  left: 0;
  /* Makes navbar span full width of screen */
  width: 100%;
  /* Increases space between content and navbar edges */
  padding: 0.75rem;
  /* Sets display property to flex, which makes container a flexbox */
  display: flex;
  /* Aligns flex items vertically in center of navbar */
  align-items: center;
  /* Includes border and padding in navbar's total width and height */
  box-sizing: border-box;
  /* Light forest green */
  background-color: #578172;
  /* Adds solid border (light forest green) at bottom of navbar */
  border-bottom: 0.0625rem solid #578172;
  /* Brings navbar to front */
  z-index: 1;
}

.logo img {
  /* Makes width of logo respond to changes in font size */
  width: 6rem;
  height: 6rem;
}

.name {
  /* Increases space between logo and web app name */
  margin-left: 0.875rem;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  /* Bold text */
  font-weight: 700;
  /* White */
  color: #ffffff;
}

.header-buttons {
  /* Automatically calculates left margin based on available space
     (i.e., pushes header buttons to right side of navbar) */
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-button-link {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Removes default text decoration (e.g., underlines for links) */
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  /* Medium text */
  font-weight: 500;
}

.header-button-icon,
.header-button-label {
  /* Block-level property */
  margin-top: 0.25rem;
  font-size: 1rem;
  /* Medium text */
  font-weight: 500;
  /* White */
  color: #ffffff;
  /* Allows header button text to flow with inline elements while having 
     properties that apply to block-level elements, such as <div>, <h1>, 
     and <p> */
  display: inline-block;
}

.header-button-icon.material-icons-outlined {
  font-size: 3rem;
  /* Light green */
  color: #39d7ac;
}

/* Targets only header button icon when .header-button-link element 
   is hovered over */
.header-button-link:hover .header-button-icon {
  /* Darker light green */
  color: #2db896;
  /* Changes cursor to pointer on hover */
  cursor: pointer;
}

#navbar .create-account-button,
#navbar .sign-in-button {
  /* top, bottom: 0.5rem; left, right: 1rem */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  /* Medium text */
  font-weight: 500;
  text-align: center;
  /* White */
  color: #ffffff;
  /* Light green */
  background: #39d7ac;
  /* White border */
  border: 0.125rem solid #ffffff;
  /* Rounds corners of buttons */
  border-radius: 0.2rem;
}

#navbar .create-account-button {
  /* Light green border */
  border: 0.125rem solid #39d7ac;
}

#navbar .create-account-button:hover,
#navbar .sign-in-button:hover {
  cursor: pointer;
}

#navbar .sign-in-button {
  /* Increases space between "Sign In" and "Create Account" Buttons */
  margin-left: 0.75rem;
  /* Light forest green, 85% opacity */
  background-color: rgba(58, 107, 91, 0);
  /* White */
  border: 0.125rem solid #ffffff;
}

/********************************
 *  Footer (#footer-rectangle)  *
 ********************************/

#footer-rectangle {
  width: 100%;
  /* top, bottom: 0.75rem; left, right: 0.75rem */
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: #ffffff;
  /* White */
  border-top: 0.0625rem solid #578172;
}

.footer-content {
  /* Sets top and bottom margin to 0 and auto-calculates left and right margins
     (i.e., horizontally centers container) */
  margin: 0 auto;
  display: flex;
  /* Aligns flex items center */
  justify-content: center;
  /* Dark gray */
  color: #666666;
}

.footer-contact,
.footer-social {
  padding: 0.75rem;
}

.footer-contact ul,
.footer-social ul {
  margin: 0;
  padding: 0;
  /* Removes bullets from list */
  list-style: none;
}

.footer-contact li,
.footer-social li {
  margin-bottom: 0.5rem;
}

.footer-contact a,
.footer-social a {
  color: inherit;
  text-decoration: none;
}

.footer-contact a:hover,
.footer-social a:hover {
  /* Medium gray */
  color: #7d7f7c;
}

.footer-social ul {
  display: flex;
}

/* Uses :not() pseudo-class to exclude last child with :last-child pseudo-class 
   (i.e., increases right margin of all list items except for last list item in 
   that group. */
.footer-social li:not(:last-child) {
  margin-right: 1rem;
}

.footer-social i {
  font-size: 1.5rem;
  /* Light green */
  color: #39d7ac;
}

.footer-social .social-wrapper {
  display: flex;
  /* Stacks flex items vertically in column */
  flex-direction: column;
}

.footer-social p {
  margin-right: 0.5rem;
}

/*************
 *  Content  *
 *************/

#content {
  /* Positions content relative to normal position in document */
  position: relative;
  /* Offsets header height */
  margin-top: 6.5rem;
  padding: 1rem;
  /* Sets minimum content height to prevent footer from getting too close to
     header when there is little or no content */
  min-height: 29rem;
}

/* Flex container used for Home and Difficulty pages (resource) */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 5rem;
  width: 55rem;
  margin: 4rem auto;
  /* Dark gray */
  color: #666666;
}

/* Styles for Individual Pages 
   --------------------------- */

/******************
 *  Achievements  *
 ******************/

/*********************************************************
 * Badge design adopted from the following resource:
 *
 *   Title: Hexagon Badges with Font Awesome Icons
 *   Author: Olivia Ng
 *   Date: January 4, 2018
 *   Code version: 1.0
 *   Availability: https://codepen.io/oliviale/pen/qpPByV
 *********************************************************/

.achievements-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.achievements {
  width: auto;
  margin: 3rem 0 2rem;
  padding: 1rem 2rem;
  /* Dark gray border */
  border: 0.125rem solid #666666;
  /* Adds border radius on all sides */
  border-radius: 1.3rem;
}

.achievements-content {
  max-width: 34rem;
  margin: 1rem auto;
}

.badge-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.badge-desc {
  position: absolute;
  top: calc(100% - 1.75rem);
  font-size: 0.8rem;
  width: 12rem;
  left: calc(50% - 6rem);
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  border-radius: 0.1875rem;
  padding: 0.35rem 0.5rem;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.badge-wrapper:hover .badge-desc {
  opacity: 1;
}

.badge {
  position: relative;
  margin: 1.5rem 3rem;
  width: 5rem;
  height: 7.75rem;
  border-radius: 0.78125rem;
  display: inline-block;
  top: 0;
  transition: all 0.1s ease-in-out;
  background: linear-gradient(to bottom right, #39d7ac 15%, #578172 100%);
  color: #578172;
}

.badge.locked {
  filter: grayscale(100%);
}

.badge:before,
.badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.badge:before {
  transform: rotate(60deg);
}

.badge:after {
  transform: rotate(-60deg);
}

.badge:hover {
  top: -0.25rem;
}

.badge .circle {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.badge .circle i {
  font-size: 2.45rem;
  margin-top: 0.65625rem;
}

.badge .font {
  display: inline-block;
  margin-top: 1rem;
}

.badge .ribbon {
  position: absolute;
  border-radius: 0.25rem;
  padding: 0.4375rem 0.4375rem 0.375rem;
  width: 7.8125rem;
  z-index: 11;
  color: #ffffff;
  bottom: 0.8625rem;
  left: 50%;
  margin-left: -4.296875rem;
  height: 1.0625rem;
  font-size: 0.828125rem;
  font-weight: 500;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.27);
  text-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: linear-gradient(to bottom right, #777777 0%, #555555 100%);
  cursor: pointer;
  text-align: center;
}

/********************
 *  Create Account  *
 ********************/

.rules h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.rules.create-account {
  margin-bottom: 2rem;
  width: 32rem;
  color: #666666;
}

.ca-input-wrapper {
  position: relative;
}

.ca-fields {
  margin: 0 1.875rem 0 1.53rem;
}

.ca-input-wrapper input[type=text],
.ca-input-wrapper input[type=password]{
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.0625rem solid #ccc;
  box-sizing: border-box;
  border-radius: 0.1875rem;
}

.ca-login-button {
  margin: 0 5.26rem 0 0;
  border-radius: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #39d7ac;
  border: 0.125rem solid #39d7ac;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  cursor: pointer;
  width: 11.25rem;
}

.create-sign-in-wrapper.create-account {
  margin: 2rem 0 2rem;
}

/****************
 *  Difficulty  *
 ****************/

.welcome-message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -6rem;
  font-size: 2rem;
  /* Medium text */
  font-weight: 500;
  z-index: 1;
}

#hello_user {
  margin-bottom: 0.5rem;
}

#welcome_back {
  margin-top: 0;
  margin-bottom: 0; 
}

.welcome-message-content span {
  font-size: 2rem;
  /* Light green */
  color: #39d7ac;
}

.difficulty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 6.5rem;
}

.difficulty-header {
  margin-top: 1em;
  margin-bottom: 3.75rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 52rem;
  padding: 0 1rem;
  margin-bottom: 6rem;
}

.difficulty-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 11rem;
  margin-right: 2rem;
  background-color: #578172;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.difficulty-button:hover {
  background-color: #466b5a;
}

.difficulty-button:last-child {
  margin-right: 0;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.stars .material-icons-outlined {
  font-size: 3.375rem;
  color: #39d7ac;
}

/**********
 *  Home  *
 **********/

/* Welcome section */

#content-header {
  font-size: 3rem;
  margin: 0;
}

.main-content .text-box {
  max-width: 26rem;
  margin-right: 5rem;
}

.main-content .text-box p {
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

.image-container {
  display: flex;
  /* Dark gray */
  border: 0.125rem solid #666666;
  /* top, bottom: 0.5rem; left, right: 0.5rem */
  padding: 0.5rem;
  /* Adds border radius on all sides */
  border-radius: 1.3rem;
  /* Centers image horizontally and vertically */
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  width: 19.3125rem;
  height: auto;
}

.create-sign-in-wrapper {
  display: flex;
  margin: 2rem 0 1rem;
}

.main-content .create-account-button {
  /* top, bottom: 0.5rem; left, right: 1rem */
  padding: 0.5rem 1rem;
  margin-right: auto;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  /* Medium text */
  font-weight: 500;
  text-align: center;
  /* White */
  color: #ffffff;
  /* Light forest green */
  background-color: #578172;
  border: 0.125rem solid #578172;
  /* Rounds corners of buttons */
  border-radius: 0.2rem;
}

.main-content .create-account-button:hover {
  cursor: pointer;
}

.sign-in-link {
  /* Semi-bold text */
  font-weight: 600;
  color: #444444;
}

/* Features section */

.main-content.increase-top-margin {
  margin-top: 6rem;
}

.feature-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 0 -1rem;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex: 1;
  margin: 0 1rem;
}

.feature-container h2 {
  font-size: 1.1rem;
  margin: 0;
}

.feature-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 1rem;
}

.feature-icon {
  display: flex;
  padding: 0.5rem;
  margin-right: 1rem;
  height: auto;
  background-color: #578172;
  border-radius: 0.625rem;
}

.feature-icon span {
  margin: auto;
  font-size: 2.125rem;
  /* White */
  color: #ffffff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Darker gray, 70% opacity */
  background-color: rgba(102, 102, 102, 0.7);
}

.modal-content {
  /* White */
  background-color: #ffffff;
  margin: 15% auto;
  padding: 1.25rem;
  /* Dark gray */
  border: 0.0625rem solid #666666;
  border-radius: 0.3125rem;
  width: 25.5rem;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
}

#hello_user span {
  font-size: 1.7rem;
  /* Light green */
  color: #39d7ac;
}

#welcome_back {
  margin-bottom: 1.6rem;
}

.modal button {
  /* top, bottom: 0.5rem; left, right: 1rem */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background: #39d7ac;
  border: 0.125rem solid #ffffff;
  border-radius: 0.2rem;
  margin: 0.3125rem;
  cursor: pointer;
}

/**********
 *  Main  *
 **********/

/* Wrapper container */
.wrapper-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
}

/* Game container */
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  max-width: 85rem; 
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Add space between left-container and right-box */
  margin-right: 3rem;
  margin-top: -2rem;
}

#info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 32rem;
  margin-bottom: 0.625rem;
  align-items: center;
}

#difficulty-setting,
#timer,
#mistakes-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  width: 33.3%;
}

#difficulty-setting .material-icons-outlined {
  margin-right: 0.2rem;
}

#timer .material-icons-outlined {
  margin-right: 0.2rem;
}

#mistakes-count .material-icons-outlined {
  margin-right: 0.2rem;
}

#sudoku-board {
  display: grid;
  grid-template-rows: repeat(9, 3.555rem);
  grid-template-columns: repeat(9, 3.555rem);
  border: 0.125rem solid #666666;
  width: 32rem; 
  height: 32rem;
  margin: 0 auto;
}

/* Sudoku cells */
#sudoku-board .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 1.6rem;
  border: 0.0625rem solid #666666;
}

/* Sudoku cell input*/
#sudoku-board .cell input {
    /* This removes input cursor from cells */
    color: transparent;
    text-shadow: 0 0 0 black;
    font-size: 1.6rem;
    text-align: center;
    border: none;
    position: relative;
    z-index: 1; /*on top of candidates*/
    margin: 0px;
}

/* Imported Game Cells */

// FIX BORDERS
.imported-square {
    background: gray;
}

.selected-square {
    background: #39d7ac;
}

/* Invalid cell highlight */
.invalid {
    border: 2px red;
}


/* Subgrid borders */
#sudoku-board .subgrid-top {
  border-top: 0.15625rem solid #666666;
}

#sudoku-board .subgrid-left {
  border-left: 0.15625rem solid #666666;
}

#sudoku-board .subgrid-right {
  border-right: 0.125rem solid #666666;
  /* Adjusts for border */
  margin-right: -0.03125rem;
}

#sudoku-board .subgrid-bottom {
  border-bottom: 0.125rem solid #666666;
}

/* Digit buttons */
.digit-button {
    width: 2.4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 500;
    background-color: #39d7ac;
    color: #ffffff;
    border: 0.125rem solid #39d7ac;
    border-radius: 0.4rem;
    cursor: pointer;
}

.digit-button:hover {
  background-color: #2db896;
}

.x-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  width: 100%;
  max-width: 17.75rem;
  background-color: #2db896;
  border: 0.125rem solid #2db896;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin: 0.5rem .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-button:hover {
    background-color: #249a7e;
}

.x-button .material-icons-outlined {
  font-size: 1.9rem;
}

/* Right box */
#right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
  height: 35.8rem;
  padding: 0;
}

/* User information box */
.user-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  border: 0.125rem solid #cccccc;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin: 1.8rem 0 0.75rem;
  box-sizing: border-box;
}

/* User icon */
.user-icon {
  margin-right: 0.45rem;
  font-size: 1.95rem;
  color: #888888;
}

/* Username */
.username {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333333;
}

#username-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Account link */
.account-link {
  font-size: 0.83rem;
  color: #2db896;
  text-decoration: none;
}

.account-link:hover {
  text-decoration: underline;
}

/* Right box buttons */
.right-box-button {
  font-family: , sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #888888;
  border: 0.00625rem solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
}

.right-box-button:hover {
  background-color: #777777;
}

.buttons-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#right-box-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom:.75rem;
}

.bottom-buttons {
  display: flex;
  width: 8.875rem;
  align-items: center;
  justify-content: center;
}

.bottom-buttons .material-icons-outlined {
  margin-right: 0.5rem;
}

.placeholder-digit-button {
  font-size: 1.4rem;
  width: calc(33% - 1rem);
  height: 3.75rem;
  margin: 0.4rem;
}

.placeholder-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 18rem;
  background-color: #eaeaea;
  border-radius: 0.25rem;
  padding: .33rem 0;
  margin-bottom: .75rem;
}

.digit-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.digit-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.grid-digit {
  width: 18%;
  margin: 1%;
  max-height: 2.625rem;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: .75rem;
}

.new-game-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-game-button {
  font-family: "Montserrat", sans-serif;
  color: #666666;
  width: 100%;
  max-width: 18.75rem;
  text-align: center;
  background-color: #ffffff;
  border: 0.125rem solid #cccccc;
  color: #333333;
}

.new-game-button:hover {
  background-color: #fafafa;
}

/***********
 *  Rules  *
 ***********/

.rules-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rules {
  width: 40rem;
  margin: 3rem 0 auto;
  padding: 1rem 2rem;
  /* Dark gray border */
  border: 0.125rem solid #666666;
  /* Adds border radius on all sides */
  border-radius: 1.3rem;
}

.rules h1 {
  margin-bottom: 3rem;
}

.rules-row {
  display: flex;
  margin-bottom: 2rem;
}

.image-size {
  width: 18.75rem;
  height: 18.75rem;
}

.rules-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-left: 3rem;
}

.rules-description p:first-child {
  margin-top: 0;
}

.rules-description span {
  font-weight: bold;
}

.rules-note {
  margin-top: -0.5rem;
}

.rules-triple {
  font-weight: 600;
}

.rules h6 {
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
}

.rules .clear {
  clear: both;
  margin-bottom: 1.25rem;
}

.rules .citation {
  font-size: 1.2rem;
  margin-top: 3rem;
}

.blue-text {
  color: #00a8f3;
  font-weight: bold;
}

.black-text {
  color: #000000;
  font-weight: bold;
}

.citation-wrapper {
  display: flex;
  flex-direction: column;
  width: 44.25rem;
  margin: 0 auto;
}

.citation-wrapper h1 {
  font-size: 1.2rem;
  margin-top: 2.6rem;
}

.citation-wrapper:last-child {
  margin-bottom: 1rem;
}

/**************
 *  Settings  *
 **************/

.settings-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings {
  width: 30rem;
  margin: 3rem 0 2rem;
  padding: 1rem 2rem;
  border: 0.125rem solid #666666;
  border-radius: 1.3rem;
}

.settings h1 {
  margin-bottom: 3rem;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 1.75rem;
}

.settings-item.show-hints {
  margin-bottom: 0.95rem;
}

.settings-description {
  font-size: 1.2rem;
}

.settings-description p {
  margin-top: 0;
}

.settings-slider {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.6rem;
  height: 1.75rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #39d7ac;
}

input:focus + .slider {
  box-shadow: 0 0 0.0625rem #39d7ac;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.85rem);
  -ms-transform: translateX(1.85rem);
  transform: translateX(1.85rem);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-label {
  position: absolute;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: .4s;
}

.slider-label.on {
  left: 0.6rem;
  color: #ffffff;
  opacity: 0;
}

.slider-label.off {
  right: 0.6rem;
  color: #333333;
  opacity: 1;
}

input:checked ~ .slider-label.on {
  opacity: 1;
}

input:checked ~ .slider-label.off {
  opacity: 0;
}

.settings-line {
  margin-bottom: 2.6rem;
}

/*************
 *  Sign In  *
 *************/

input[type=text], input[type=password] {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.0625rem solid #ccc;
  box-sizing: border-box;
}

input[type="password"] {
  margin-bottom: 1rem;
}

label input[type="checkbox"][name="remember"] {
  margin-bottom: 0.5rem;
}

.login-button {
  margin: 1rem auto 0 auto;
  border-radius: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #39d7ac;
  border: 0.125rem solid #39d7ac;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  cursor: pointer;
  width: 11.25rem;
}

.login-button:hover {
  background-color: #2db896;
}

.imgcontainer {
  text-align: center;
  margin: 1.5rem 0 0.75rem 0;
}

/* img.image {
  width: 40%;
  border-radius: 50%;
} */

.container {
  padding: 1rem;
}

span.psw {
  float: right;
  padding-top: 1rem;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 18.75rem) {
  span.psw {
    display: block;
    float: none;
  }
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin: 0 1.875rem 0 1.53rem;
}

.flex-main-container {
  box-sizing: border-box;
  border: 0.0625rem solid black;
  display: flex;
  margin: 1.25rem;
}

.container h1 {
  margin-top: -0.5rem;
}

.input-wrapper {
  position: relative;
}

label h2 b {
  font-weight: 500;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.forgot-password,
.create-account {
  font-weight: 500;
  color: #444444;
}

.remember-me {
  display: block;
  margin-bottom: 0.75rem;
}
