/* Styles for Base Template 
   ------------------------ */

/************
 *  Global  *
 ************/

html {
  font-size: 16px;  /* Sets root font size */
  font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
}

/**********************
 *  Header (#navbar)  *
 **********************/

#navbar {
  position: fixed;
  /* Sets position of navbar at top left corner of browser window */
  top: 0;
  left: 0;
  width: 100%;  /* Makes it span full width of screen */
  padding: 0.75rem;  /* Increases space between content and navbar edges */
  /* Sets display property to flex, which makes container a flexbox */
  display: flex;  
  align-items: center;  /* Aligns flex items vertically in center of navbar */
  /* Includes border and padding in navbar's total width and height */
  box-sizing: border-box;
  background-color: #578172;  /* Light forest green */
  border-bottom: 1px solid #578172;  /* Adds solid border at bottom of navbar */
  z-index: 1;  /* Brings navbar to front */
}

.logo img {
  /* Makes width of logo respond to changes in font size */
  width: 6rem;
  height: 6rem;
}

.name {
  margin-left: 0.875rem;  /* Increases space between logo and web app name */
  font-size: 3.5rem;
  font-weight: 700;  /* Bold text */
  color: #FFFFFF;  /* White */
}

.header-buttons {
  /* Automatically calculates left margin based on available space
     (i.e., pushes header buttons to right side of navbar) */ 
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-button-link {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Removes default text decoration (e.g., underlines for links) */
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.header-button-icon,
.header-button-label {
  margin-top: 0.25rem;  /* Block-level property */
  font-size: 1rem;
  font-weight: 500;  /* Medium text */
  color: #FFFFFF;  /* White */
  /* Allows header button text to flow with inline elements while having 
    properties that apply to block-level elements, such as <div>, <h1>, 
    and <p> */
  display: inline-block;
}

.header-button-icon.material-icons-outlined {
  font-size: 48px;
  color: #39D7AC;  /* Light green */
}

/* Targets only header button icon when .header-button-link element 
   is hovered over */
.header-button-link:hover .header-button-icon {
  color: #2DB896;  /* Darker light green */
  cursor: pointer;  /* Changes cursor to pointer on hover */
}

.create-account-button,
.sign-in-button {
  padding: 0.5rem 1rem;  /* top, bottom: 0.5rem; left, right: 1rem */
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;  /* Medium text */
  text-align: center;
  color: #FFFFFF;  /* White */
  background: #39D7AC;  /* Light green */
  border: 2px solid #FFFFFF;
  border-radius: 3px;  /* Rounds corners of buttons */
}

.create-account-button {
  border: 2px solid #39D7AC;
}

.create-account-button:hover,
.sign-in-button:hover {
    cursor: pointer;
}

.sign-in-button {
  /* Increases space between "Sign In" and "Create Account" Buttons */
  margin-left: 0.75rem;
  background-color: rgba(58, 107, 91, 0);  /* Stromboli, 85% opacity */
  border: 2px solid #FFFFFF;  /* White */
}

/********************************
 *  Footer (#footer-rectangle)  *
 ********************************/

#footer-rectangle {
  width: 100%;
  padding: 0.75rem;  /* top, bottom: 0.75rem; left, right: 0.75rem */
  box-sizing: border-box;
  background-color: #FFFFFF;  /* White */
  border-top: 1px solid #578172; 
}

.footer-content {
  /* Sets top and bottom margin to 0 and auto-calculates left and right margins
     (i.e., horizontally centers container) */
  margin: 0 auto;
  display: flex;
  justify-content: center;  /* Aligns flex items center */
  color: #666666;  /* Dark gray */
}

.footer-contact,
.footer-social {
  padding: 0.75rem;
}

.footer-contact ul,
.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;  /* Removes bullets from list */
}

.footer-contact li,
.footer-social li {
  margin-bottom: 0.5rem;
}

.footer-contact a,
.footer-social a {
  color: inherit;
  text-decoration: none;
}

.footer-contact a:hover,
.footer-social a:hover {
  color: #7D7F7C;  /* Medium gray */
}

.footer-social ul {
  display: flex;
}

/* Uses :not() pseudo-class to exclude last child with :last-child pseudo-class 
   (i.e., increases right margin of all list items except for last list item in 
   that group. */
.footer-social li:not(:last-child) {
  margin-right: 1rem;
}

.footer-social i {
  font-size: 1.5rem;
  color: #39D7AC;  /* Light green */
}

.footer-social .social-wrapper {
  display: flex;
  flex-direction: column;  /* Stacks flex items vertically in column */
}

.footer-social p {
  margin-right: 0.5rem;
}

/*************
 *  Content  *
 *************/

#content {
  /* Positions content relative to normal position in document */
  position: relative;
  margin-top: 8rem;  /* Offsets header height */
  padding: 1rem;
  /* Sets minimum content height to prevent footer from getting too close to
     header when there is little or no content */
  min-height: 29rem;
}

/* Styles for Individual Pages 
   --------------------------- */

/******************
 *  Achievements  *
 ******************/

/********************
 *  Create Account  *
 ********************/

/****************
 *  Difficulty  *
 ****************/

/**********
 *  Home  *
 **********/

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 5rem;
  width: 52rem;
  height: 22rem;
  margin: 4rem auto;
  color: #666666;  /* Dark gray */
}

#content-header {
  font-size: 3rem;
  margin: 0;
}

.text-box {
  max-width: 26rem;
  margin-right: 5rem;
}

.text-box p {
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

.image-container {
  display: flex;
  border: 2px solid #578172;  /* Light forest green */
  padding: 8px;  /* Adds 8px padding on all sides */
  border-radius: 12px;  /* Adds border-radius of 12px on all sides */
  justify-content: center;  /* Centers image horizontally */
  align-items: center;  /* Centers image vertically */
}

.image-container img {
  max-width: 100%;
  width: 309px;
  height: auto;
}

.main-content .create-sign-in-wrapper {
    display: flex;
}

.main-content .create-account-button {
  background-color: #578172;  /* Light forest green */
  margin-right: auto;
  border-color: #578172;
}

.main-content .sign-in-link {
  font-weight: 700;
  color: #444444;
}

/**********
 *  Main  *
 **********/

/***********
 *  Rules  *
 ***********/

.rules-wrapper {
  display: flex;
  flex-direction: column;
}

.rules {
  width: 35rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #666666;
}

/**************
 *  Settings  *
 **************/

/*************
 *  Sign In  *
 *************/