{% extends "base.html" %}

{% block title %}Achievements{% endblock %}

{% block content %}


<div class="achievements-wrapper">
    <div class="achievements">
        <h4 id="achievements-header">Achievements</h4>
        <!-- Container for feature #1 -->
        <div class="achievements-container">
          <!-- Header for feature #1 -->
          <div class="achievements-header">
            <div class="achievements-icon">
                <i class="fa-sharp fa-solid fa-circle-radiation"></i> 

            </div>
            
          </div>
        <!-- Container for feature #2 -->
        <div class="achievements-container">
          <!-- Header for feature #2 -->
          <div class="achievements-header">
            <div class="achievements-icon">
                 <i class="fa-solid fa-hat-cowboy-side"></i>
            </div>
            
          </div>

    </div> 

</div> 




{% endblock %}