{% extends "base.html" %} 
​
{% block title %}Achievements{% endblock %} 
​
{% block content %}
<div class="achievements-wrapper">
  <div class="achievements">
    <div class="achievements-content">
     <h1>Achievements</h1>
​
      <div>
         
        
        {% if risk_taker == True %}
  
        <div class="badge-wrapper">
          <div class="badge risk-taker">
            <div class="circle">
              <i class="fa fa-bomb"></i>
            </div>
            <div class="ribbon">Risk Taker</div>
          </div>
          <div class="badge-desc">Complete Three HARD Puzzles</div>
        </div>
          
          
        {% endif %}
        
        {% if risk_taker == False %}
  
        <div class="badge-wrapper">
          <div class="badge risk-taker locked">
            <div class="circle">
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="ribbon">Risk Taker</div>
          </div>
          <div class="badge-desc">Complete Three HARD Puzzles</div>
        </div>
          
          
        {% endif %}
  
        {% if lone_wolf == True %}
​
        <div class="badge-wrapper">
          <div class="badge lone-wolf">
            <div class="circle">
              <i class="fa-solid fa-user-secret"></i>
            </div>
            <div class="ribbon">Lone Wolf</div>
          </div>
          <div class="badge-desc">Complete One Puzzle Without Hints</div>
        </div>
          
        {% endif %} 
          
          
         {% if lone_wolf == False %}
​
        <div class="badge-wrapper">
          <div class="badge lone-wolf locked">
            <div class="circle">
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="ribbon">Lone Wolf</div>
          </div>
          <div class="badge-desc">Complete One Puzzle Without Hints</div>
        </div>
          
        {% endif %} 
        
          
        {% if puzzle_master == True %}
  
        <div class="badge-wrapper">
          <div class="badge puzzle-master">
            <div class="circle">
              <i class="fa-solid fa-crown"></i>
            </div>
            <div class="ribbon">Puzzle Master</div>
          </div>
          <div class="badge-desc">Reach MAX Level</div>
        </div>
          
        {% endif %}    
          
        {% if puzzle_master == False %}
  
        <div class="badge-wrapper">
          <div class="badge puzzle-master locked">
            <div class="circle">
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="ribbon">Puzzle Master</div>
          </div>
          <div class="badge-desc">Reach MAX Level</div>
        </div>
          
        {% endif %}  
          
         {% if speed_runner == True %} 
        <div class="badge-wrapper">
          <div class="badge speed-runner">
            <div class="circle">
              <i class="fa-solid fa-person-running"></i>
            </div>
            <div class="ribbon">Speed Runner</div>
          </div>
          <div class="badge-desc">
            Complete One HARD Puzzle in Less Than 10 Minutes
          </div>
        </div>
        
        {% endif %} 
            
          
        {% if speed_runner == False %} 
        <div class="badge-wrapper">
          <div class="badge speed-runner locked">
            <div class="circle">
              <i class="fa fa-lock"></i>
            </div>
            <div class="ribbon">Speed Runner</div>
          </div>
          <div class="badge-desc">
            Complete One HARD Puzzle in Less Than 10 Minutes
          </div>
        </div>
        
        {% endif %} 
          
        
        {% if inquisitor == True %} 
​
        <div class="badge-wrapper">
          <div class="badge inquisitor">
            <div class="circle">
              <i class="fa-solid fa-question"></i>
            </div>
            <div class="ribbon">Inquisitor</div>
          </div>
          <div class="badge-desc">Request a Hint Five Times for the Same Puzzle</div>
        </div>
        
       {% endif %} 
   
          
        {% if inquisitor == False %} 
​
        <div class="badge-wrapper">
          <div class="badge inquisitor locked">
            <div class="circle">
              <i class="fa fa-lock"></i>
            </div>
            <div class="ribbon">Inquisitor</div>
          </div>
          <div class="badge-desc">Request a Hint Five Times for the Same Puzzle</div>
        </div>
        
       {% endif %}   
          
          
       {% if conqueror == True %} 
  
        <div class="badge-wrapper">
          <div class="badge conqueror">
            <div class="circle">
              <i class="fa-solid fa-mountain"></i>
            </div>
            <div class="ribbon">Conqueror</div>
          </div>
          <div class="badge-desc">
            Complete One Puzzle at Each Difficulty Level
          </div>
        </div>
    
        {% endif %} 
     
          
       {% if conqueror == False %} 
  
        <div class="badge-wrapper">
          <div class="badge conqueror locked">
            <div class="circle">
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="ribbon">Conqueror</div>
          </div>
          <div class="badge-desc">
            Complete One Puzzle at Each Difficulty Level
          </div>
        </div>
    
        {% endif %} 
  
          
      </div>
    </div>
  </div>
</div>
{% endblock %}