{% extends "base.html" %} 

{% block title %}Difficulty{% endblock %} 

{% block content %}
<!-- Message is displayed only for users who are redrected from home page -->
{% if redirected_from_home %}
<div class="main-content welcome-message-content">
  <p id="hello_user">
    Hello, FavoriteUser
    <span class="material-icons-outlined">waving_hand</span>.
  </p>
  <p id="welcome_back">Welcome back!</p>
</div>
{% endif %}

<div class="main-content difficulty-content">
  <h2 class="difficulty-header">Select Difficulty</h2>
  <div class="difficulty-buttons">
    <button class="difficulty-button" id="easy">
      EASY
      <div class="stars">
        <span class="material-icons-outlined">star</span>
      </div>
    </button>
    <button class="difficulty-button" id="hard">
      HARD
      <div class="stars">
        <span class="material-icons-outlined">star</span>
        <span class="material-icons-outlined">star</span>
        <span class="material-icons-outlined">star</span>
      </div>
    </button>
    <button class="difficulty-button" id="expert">
      EXPERT
      <div class="stars">
        <span class="material-icons-outlined">star</span>
        <span class="material-icons-outlined">star</span>
        <span class="material-icons-outlined">star</span>
        <span class="material-icons-outlined">star</span>
      </div>
    </button>
  </div>
</div>
{% endblock %}
