<!-- Inherits from base.html -->
{% extends "base.html" %} 

<!-- Sets page title as "Home" -->
{% block title %}Home{% endblock %} 

{% block buttons%}
<!-- "Create Account" and "Sign In" buttons -->
<button
  class="create-account-button"
  onclick="window.location.href='{{ url_for('create_account') }}'"
>
  Create Account
</button>
<button
  class="sign-in-button"
  onclick="window.location.href='{{ url_for('login') }}'"
>
  Sign In
</button>
{% endblock %} 

<!-- Main content of page -->
{% block content %} 
<!-- If user is logged in, show modal -->
{% if show_logged_in_content %}
<div id="loggedInModal" class="modal" onclick="hideModal(event)">
  <div class="modal-content">
    <p id="hello_user">
        Hello, <b>FavoriteUser</b>
      <span class="material-icons-outlined">waving_hand</span>.
    </p>
    <p id="welcome_back">Welcome back!</p>
    <!-- "New Game" button -->
    <button
      onclick="location.href='{{ url_for('main', new=1) }}'"
      class="btn"
    >
      New Game
    </button>
    <!-- "Resume Game" button -->
    <button onclick="location.href='{{ url_for('main') }}'" class="btn">
      Resume Game
    </button>
  </div>
</div>
{% endif %}

<!-- Main content container -->
<div class="main-content">
  <!-- Text box container -->
  <div class="text-box">
    <h2 id="content-header">Sudoku Mastery Made Simple</h2>
    <p>
      Welcome to Sudoku Sage, where we empower you to improve your
      problem-solving and deductive reasoning skills through guided learning
      experiences. Our web application blends in-game assistance with progress
      tracking features to ensure that you remain supported and engaged
      throughout your Sudoku journey.
    </p>

    <!-- "Create Account" and "Sign In" buttons container -->
    <div class="create-sign-in-wrapper">
      <button
        class="create-account-button"
        onclick="window.location.href='{{ url_for('create_account') }}'"
      >
        Create Account
      </button>
      <div>
        <div>Already have an account?</div>
        <a class="sign-in-link" href="{{ url_for('login') }}">Sign In</a>
      </div>
    </div>
  </div>

  <!-- Image container -->
  <div class="image-container">
    <img
      src="{{ url_for('static', filename='images/home/alt_img_green.png') }}"
      alt="Solution"
    />
  </div>
</div>

<!-- Features container -->
<div class="main-content increase-top-margin">
  <div class="feature-wrapper">
    <!-- Feature #1 container -->
    <div class="feature-container">
      <!-- Feature #1 header -->
      <div class="feature-header">
        <div class="feature-icon">
          <span class="material-icons-outlined"> sentiment_satisfied_alt </span>
        </div>
        <h2>User-Friendly Interface</h2>
      </div>

      <!-- Feature #1 text box -->
      <div class="feature-text-box">
        <p>
          Designed with simplicity and ease of use in mind, Sudoku Sage's
          intuitive interface provides you with a seamless puzzle-solving
          experience.
        </p>
      </div>
    </div>

    <!-- Feature #2 container -->
    <div class="feature-container">
      <!-- Header for feature #2 -->
      <div class="feature-header">
        <div class="feature-icon">
          <span class="material-icons-outlined"> school </span>
        </div>
        <h2>Real-Time Guidance and Feedback</h2>
      </div>

      <!-- Feature #2 text box -->
      <div class="feature-text-box">
        <p>
          Sudoku Sage's real-time guidance helps you to understand the logic
          behind each recommended strategy, reducing your dependence on
          traditional hints.
        </p>
      </div>
    </div>

    <!-- Feature #3 container -->
    <div class="feature-container">
      <!-- Feature #3 header -->
      <div class="feature-header">
        <div class="feature-icon">
          <span class="material-icons-outlined"> insights </span>
        </div>
        <h2>Motivation-Boosting Progress Tracking</h2>
      </div>

      <!-- Feature #3 text box -->
      <div class="feature-text-box align-left">
        <p>
          Stay inspired and visualize your improvement with our dynamic progress
          tracking tools. Earn badges and reach milestones as you advance
          through puzzle challenges.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %} 
{% if show_logged_in_content %}
<script src="{{ url_for('static', filename='js/home_modal.js') }}"></script>
{% endif %}
{% endblock %}