{% extends "base.html" %} 

{% block title %}Main{% endblock %} 

{% block content %}
<div class="wrapper-container">
  <div class="game-container">
    <div class="left-container">
      <div id="info-container">
        <div id="difficulty-setting">
          <span class="material-icons-outlined"> stars </span>
          <span>EXPERT</span>
        </div>
        <div id="timer">
          <span class="material-icons-outlined"> timer </span>
          <span>00:00</span>
        </div>
        <div id="mistakes-count">
          <span class="material-icons-outlined"> close </span>
          <span>0 / 10</span>
        </div>
      </div>

      <div id="sudoku-board">
        {% for row in range(9) %} {% for col in range(9) %}
        <div
          class="cell {% if row % 3 == 0 and row != 0 %}subgrid-top{% endif %} {% if col % 3 == 0 and col != 0 %}subgrid-left{% endif %}"
        ></div>
        {% endfor %} {% endfor %}
      </div>
    </div>
    <div id="right-box">
      <div class="user-info-box">
        <div id="username-wrapper">
          <i class="fa-solid fa-circle-user user-icon"></i>
          <span class="username">Username</span>
        </div>
        <a href="#" class="account-link">Account Details</a>
      </div>
      <div id="right-box-buttons-container">
        <button class="right-box-button" id="mistakes-button">Mistakes</button>
        <button class="right-box-button" id="hints-button">Hints</button>
        <button class="right-box-button" id="notes-button">Notes</button>
      </div>
      <div class="placeholder-box">
        {% for digit in range(1, 10) %}
        <button class="digit-button placeholder-digit-button" data-digit="{{digit}}">{{digit}}</button>
        {% endfor %}
        <button class="x-button">
          <span class="material-icons-outlined">
            backspace
          </span>
        </button>
      </div>
      <div class="buttons-container">
        <div class="top-buttons">
          <button class="right-box-button bottom-buttons" id="tutorial-button">
            <span class="material-icons-outlined">school</span>
            Tutorial
          </button>
          <button
            class="right-box-button bottom-buttons"
            id="statistics-button"
          >
            <span class="material-icons-outlined">insights</span>
            Statistics
          </button>
        </div>
        <div class="new-game-button-container">
          <button class="right-box-button new-game-button" id="new-game-button">
            New Game
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
