{% extends "base.html" %} 

{% block title %}Settings{% endblock %} 

{% block content %}
<div class="settings-wrapper">
  <div class="settings">
    <h1>Settings</h1>
    <div class="settings-item">
      <div class="settings-description">
        <p>SHOW MISTAKES</p>
      </div>
      <div class="settings-slider">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
          <span class="slider-label on">On</span>
          <span class="slider-label off">Off</span>
        </label>

      </div>
    </div>
    <hr class="settings-line" />
    <div class="settings-item">
      <div class="settings-description">
        <p>SHOW CLOCK</p>
      </div>
      <div class="settings-slider">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
          <span class="slider-label on">On</span>
          <span class="slider-label off">Off</span>
        </label>
      </div>
    </div>
    <hr class="settings-line" />
    <div class="settings-item">
      <div class="settings-description">
        <p>CANDIDATE MODE</p>
      </div>
      <div class="settings-slider">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
          <span class="slider-label on">On</span>
          <span class="slider-label off">Off</span>
        </label>
      </div>
    </div>
      
    <hr class="settings-line" />
    <div class="settings-item">
      <div class="settings-description">
        <p>MISTAKES COUNTER</p>
      </div>
      <div class="settings-slider">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
          <span class="slider-label on">On</span>
          <span class="slider-label off">Off</span>
        </label>
      </div>
    </div>
      
    <hr class="settings-line" />
    <div class="settings-item show-hints">
      <div class="settings-description">
        <p>SHOW HINTS</p>
      </div>
      <div class="settings-slider">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
          <span class="slider-label on">On</span>
          <span class="slider-label off">Off</span>
        </label>
      </div>
    </div>
      
      
  </div>
</div>

{% endblock %}
